<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ДСП</title>
</head>
<body>
{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'styles/chipboard.css' %}">
<link rel="icon" href="{% static 'img/favicon.ico' %}" />
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<h1>Древесно-стружечная плита</h1>
<nav>
	<a href="/">В начало</a>
	<a href="/chipboard_form">Создать</a>
	<a href="#">Запасы</a>
	<a href="#">Загрузить</a>
	<a href="/chipboard_delete_form">Удалить</a>
	<div class="animation start-home"></div>
</nav>

<div class="container">
    <div class="row">
        <table class="u-full-width" >
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Формат</th>
                <th>Сорт</th>
                <th>Влаг.</th>
                <th>Ед.изм.</th>
                <th>Цена</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for chipboard  in chipboards  %}
                <tr>
                    <td>{{ chipboard.thickness }}</td>
                    <td>{{ chipboard.format }}</td>
                    <td>{{ chipboard.sort }}</td>
                    <td>{{ chipboard.aqua }}</td>
                    <td>{{ chipboard.unit }}</td>
                    <td>{{ chipboard.price | intcomma }}</td>
                    <td>id {{ chipboard.id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
</body>
</html>