<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Спецификация</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

<div class="container">
    <div class="row">
        <table class="u-full-width" >
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Формат</th>
                <th>Сорт</th>
                <th>Влагостойкость</th>
                <th>Ед.измерения</th>
                <th>Цена</th>
            </tr>
            </thead>
            <tbody>
            {% for chipboard  in chipboards  %}
                <tr>
                    <td>{{ chipboard.thickness }}</td>
                    <td>{{ chipboard.format }}</td>
                    <td>{{ chipboard.aqua }}</td>
                    <td>{{ chipboard.sort }}</td>
                    <td>{{ chipboard.unit }}</td>
                    <td>{{ chipboard.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
</body>
</html>