<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ДСП</title>
</head>
<body>
{% load static %}
<link rel="icon" href="/materials/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{% static 'styles/chipboard.css' %}">
<h1>Древесно-стружечная плита</h1>
<nav>
	<a href="/">В начало</a>
	<a href="/chipboard_form">Создать</a>
	<a href="#">Запасы</a>
	<a href="#">Загрузить</a>
	<a href="#">Удалить</a>
	<div class="animation start-home"></div>
</nav>

</body>
</html>