<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'styles/dbsp.css' %}">
<h1>Декоративный бумажно-слоистый пластик</h1>
<div id="container">
<ul id="menu">
  <li><a href="/">Назад</a></li>
  <li><a href="/total">Запасы на складе</a></li>
  <li><a href="/search">Поиск по коду</a></li>
  <li><a href="/code_entry">Создать код</a></li>
  <li><a href="/update">Обновить код</a></li>
  <li><a href="/form_delete">Удалить Код</a></li>
  <li><a href="/upload">Загрузить остатки</a></li>
  <li><a href="/delete_stock">Удалить остатки</a></li>
</ul>
</div>
</body>
</html>