<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Количество на складе</title>

</head>
<body>
{% load static %}
<!--{% include 'plastic.html' %}-->
<link rel="stylesheet" href="{% static 'styles/style.css' %}">



<div style="max-height: 300px; overflow: auto;">
        <table>
            <caption><h2> Количество на складе: &nbsp;&nbsp;&nbsp;&nbsp; {{ dt }} </h2></caption>
            <thead>
            <tr>
                <th rowspan="2">Код СБК</th>
                <th colspan="2">3050</th>
                <th colspan="2">2440</th>
                <th colspan="2">4200</th>
                <th colspan="2">Рулоны</th>
                <th rowspan="2">Всего листов, м2</th>
            </tr>
            <tr>
                <th>м2</th>
                <th>лист</th>
                <th>м2</th>
                <th>лист</th>
                <th>м2</th>
                <th>лист</th>
                <th>м2</th>
                <th>м.п.</th>
            </tr>
            </thead>

            <tbody>
            {% for stock  in stocks  %}
                <tr>
                    <td>{{ stock.plastic }}</td>
                    <td>{{ stock.quantity_3050 }}</td>
                    <td>{{ stock.quantity_3050_sheet }}</td>
                    <td>{{ stock.quantity_2440 }}</td>
                    <td>{{ stock.quantity_2440_sheet }}</td>
                    <td>{{ stock.quantity_4200 }}</td>
                    <td>{{ stock.quantity_4200_sheet }}</td>
                    <td>{{ stock.quantity_rol  }}</td>
                    <td>{{ stock.quantity_rol_m }}</td>
                    <td>{{ stock.total }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

</div>
<div class="but">
<a href="/total" class="button">Сбросить</a>
</div>
</body>
</html>