<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ТТ Характеристики</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit">Upload</button>
</form>

{% if file_obj %}
<small>Успешно загружено: {{file_obj.title}}</small>
{% endif %}
<h3 align="center">DOCUMENTS GLUE</h3>
<!--    <nav class="top-menu">-->
<!--      <ul class="menu-main">-->
<!--        <li><a href="/documents" >Дом</a></li>-->
<!--        <li><a href="/documents_german" >Герман</a></li>-->
<!--        <li><a href="/documents_irina" class="current">Ирина</a></li>-->
<!--        <li><a href="/documents_mark">Марк</a></li>-->
<!--        <li><a href="/">В начало</a></li>-->
<!--      </ul>-->
<!--    </nav>-->
 <table class="u-full-width" border="1" cellpadding="10" align="center">
            <tbody>
            {% for doc in glues_documents %}
                <tr>
                    <td>{{ doc.title }}</td>
                    <td><a href="{{ doc.document.url }}"></a></td>
               </tr>
            {% endfor %}
            </tbody>
 </table>
</body>
</html>