<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
{% load static %}
<img src="{% static 'img/souzz.png' %}" alt="logo" align='top'>
<link rel="icon" href="/materials/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<navbar>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/search">Поиск по коду</a></li>
      <li><a href="/code_entry">Создать кода</a></li>
      <li><a href="/update">Обновить код</a></li>
      <li><a href="/form_delete">Удалить код</a></li>
      <li><a href="/total">Запасы на складе</a></li>
      <li><a href="/upload">Загрузить остатки</a></li>
      <li><a href="/delete_stock">Удалить остатки</a></li>
      <li><a href="/upload_result">Загрузить таблицу поставщика</a></li>
      <li><a href="/list_result">Запасы пластика по поставщику</a></li>
      <li><a href="/excel">Создать файл excel</a></li>
      <li><a href="/delete_result">Очистить таблицу поставщика</a></li>
    </ul>
</navbar>

</body>
</html>