<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Упаковочные материалы</title>
    {% load static %}
    {% load humanize %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'styles/pack.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
<h1>Упаковочные материалы</h1>
<nav>
	<a href="/">В начало</a>
	<a href="/pack_form">Записать</a>
	<div class="animation start-home"></div>
</nav>

    <form method="get" action="search_pack/">
            {% csrf_token %}
            <p>Поиск по названию:<br> <input name="name" /></p>
            <input type="submit" value="Найти" />
    </form>

<div class="container">
    <div class="row">
        <table class="u-full-width" >
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Единица изм.</th>
                <th>Поставщик</th>
                <th>Цена с НДС</th>
                <th>Примечание</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for pack  in packs  %}
                <tr>
                    <td>{{ pack.name }}</td>
                    <td>{{ pack.unit }}</td>
                    <td>{{ glue.supplier }}</td>
                    <td>{{ glue.price | intcomma }}</td>
                    <td>{{ glue.note }}</td>
                    <td><a href="pack_edit/{{pack.id}}">Изменить</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

</body>
</html>