<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Количество на складе</title>

</head>
<body>
{% load static %}
{% include 'plastic.html' %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">


    <form method="get" action="filter_plastic/">
            {% csrf_token %}
            <p>Фильтр:<br> <input name="name" /></p>
            <input type="submit" value="Найти" />
    </form>
        <table class="u-full-width" >
            <caption><h2> Количество на складе: &nbsp;&nbsp;&nbsp;&nbsp; {{ dt }} </h2></caption>
            <thead>
            <tr>
                <th >Код СБК</th>
                <th>Листы 3050, м2</th>
                <th>Листы 2440, м2</th>
                <th>Листы 4200, м2</th>
                <th>Рулоны, м2</th>
                <th>Всего листов, м2</th>
            </tr>
            </thead>
            <tbody>
            {% for stock  in stocks  %}
                <tr>
                    <td>{{ stock.plastic }}</td>
                    <td>{{ stock.quantity_3050 }}</td>
                    <td>{{ stock.quantity_2440 }}</td>
                    <td>{{ stock.quantity_4200 }}</td>
                    <td>{{ stock.quantity_rol }}</td>
                    <td>{{ stock.total }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

</body>
</html>