<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Код СБК</th>
                <th>Название СБК</th>
                <th>Код поставщика</th>
                <th>Название поставщика</th>
                <th>Цена</th>
                <th>Примечание</th>
            </tr>
            </thead>
            <tbody>
            {% for plast  in plastics  %}
                <tr>
                    <td>{{ plast.code_sbk }}</td>
                    <td>{{ plast.name_sbk }}</td>
                    <td>{{ plast.code_contractor }}</td>
                    <td>{{ plast.name_contractor }}</td>
                    <td>{{ plast.price }}</td>
                    <td>{{ plast.note }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
</body>
</html>