<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Загрузка</title>
</head>
<body>
{% load static %}
<img src="{% static 'img/souzz.png' %}" alt="logo" align='top'>

<form method="POST" enctype="multipart/form-data">
    Загрузка файла
<!--    {% if messages %}-->

<!--            {% for message in messages %}-->
<!--                {{ message }}-->
<!--            {% endfor %}-->

<!--    {% endif %}-->

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Загрузка</button>
</form>
</body>
</html>